/*font-family: 'paintingwithchocolate';*/
@font-face {
    font-family: 'PaintingWithChocolate';
    src: url('../fonts/PaintingWithChocolate/PaintingWithChocolate.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/PaintingWithChocolate/PaintingWithChocolate.woff') format('woff'), 
    url('../fonts/PaintingWithChocolate/PaintingWithChocolate.ttf')  format('truetype'), 
    url('../fonts/PaintingWithChocolate/PaintingWithChocolate.svg#PaintingWithChocolate') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

h1, h2 {
     text-align: center;
}
h1, h2, h3, p{
   color: #463F3A; 
}
h1, h3{
    font-family: 'PaintingWithChocolate'; 
}
h2, p{
    font-family: 'Josefin Sans';
}
h1{
  font-size: 48px;  
}
h2{
    font-size: 30px;
}
body{
    background-color: #f0d8d1;  
    margin: auto;
}
h3{
    font-size: 20px;
}
p{
    font-size: 16px;
    text-align: justify;
}

div{
    width: 400px;
    background-color: #F4F3EE;
    margin: auto;
    padding: 20px;
}
footer{
    align-items: bottom;
    width: 100vw;
    margin: auto;
    background-color: #F4F3EE;
}
/*background-image: url('../images/waves.webm')- convert to file not on web*/