
@font-face {
  font-family: 'PaintingWithChocolate';
  src: url('PaintingWithChocolate.eot?#iefix') format('embedded-opentype'),  url('PaintingWithChocolate.woff') format('woff'), url('PaintingWithChocolate.ttf')  format('truetype'), url('PaintingWithChocolate.svg#PaintingWithChocolate') format('svg');
  font-weight: normal;
  font-style: normal;
}
